<template>
  <div class="container-categories">
    <div class="container-quiz">
        <div class="header-quiz">
            <h1>Trivia Game</h1>
          </div>
          <div class="box">
              <div class="box-propositions">
                <ul @click.stop="" style="color: #ffff"> 
                  <li 
                    v-for="(difficulty, index) in difficulties" 
                    :key="index" class="li" @click.stop="selectCategory(index)" 
                    ><router-link to="/game" exact>{{difficulty}}</router-link>  

                  </li> 
                </ul>
              </div> 
            </div>
          <div class="footer-quiz">

          </div>  
        </div> 
  </div>
</template>

<script> 

export default {
  data(){
    return{

    amount: 10,
    //categ: '',
    diff: "", 

    url: `https://opentdb.com/api.php?amount=${this.amount}&category=${this.categ}&difficulty=${this.diff}`, 
      
      difficulties: [
        "Easy",  
        "Medium", 
        "Hard"] 
    }
  },
  name: 'Difficulty',
  components: {

  },
  computed:{ 
 
  },
  methods:{ 

    selectCategory(nr){ 
      
      //console.log("Category>>> " + this.categ); 
      switch(nr) {
        case 0: 
        this.diff = this.difficulties[nr];  
          break;
        case 1: 
        //console.log("Category>>> " + nr);
        this.diff = this.difficulties[nr]; 
        console.log("diff: " + this.difficulties[nr]);
          break; 
        case 2: 
          this.diff = this.difficulties[nr]; 
          break; 
        default: this.categ = '0'; 
      }

    } 
  }

}
</script> 
