<template>
  <div class="container-categories">

    <div class="container-quiz">
      <div class="header-quiz">
        <h1>Trivia Game</h1>
          </div>
          <div class="step-progress" :style="{'width':progress + '%'}"></div>
          <div class="box" v-for="(question,index) in questions.slice(a,b)" 
            :key="index" v-show="quiz" :class="mergeAnswers(question)"> 
              
              <div class="box-question">
                <h2>Question {{b}}/{{questions.length}}</h2>
                <p>{{question.question}}</p>
              </div>
              <div class="box-propositions" @click.stop="">
                <ul @click.stop="" style="color: #ffff"> 
                  <li 
                    v-for="(proposition, index) in allAnswers" 
                    :key="index" class="li" @click.stop="selectResponse(proposition)" 
                    :class=" correct ? check(proposition) : ''">{{proposition.props}} 
                    <div class="fas fa-check" v-if="correct ?  proposition.correct: ''"></div>
                    <div class="fas fa-times" v-if="correct ?  !proposition.correct: ''"></div> 
                  </li> 
                </ul>
              </div>
          </div>
          <div class="box-score" v-if="score_show">
              <h2>Your score is</h2>
              <h2>{{score}}/{{questions.length}}</h2>
              <div class="btn-restart">
                  <button @click="restartQuiz">Restart <i class="fas fa-sync-alt"></i></button>
              </div>
          </div>
          <div class="footer-quiz">
                <div v-if="progress < 100" class="box-button">
                    <button  @click="skipQuestion()" :style="next ? 'background-color: rgb(64, 58, 175);' : 'background-color: rgb(106, 128, 202)'">Skip</button>
                    <button  @click="nextQuestion()" :style="!next ? 'background-color: rgb(64, 58, 175);' : 'background-color: rgb(106, 128, 202)'">Next</button>
                </div>  
          </div>  
        </div> 
  </div>
</template>

<script>

import JsonQuastions from "@/json/apiBookH.php.json";
import axios from 'axios'; 

export default {
  data(){
    return{ 

      questions: JsonQuastions, 
      a:0,
      b:1,
      next:true,
      score_show:false,
      quiz:true,
      score:0,
      correct:false,
      progress:0, 

      theCorrectAnswer: "", 
      quesNr: [0,0,0,0], 
      answ: ["", "", "", ""], 
      propositions: [ 
        {props: "", correct: false},
        {props: "", correct: false},
        {props: "", correct: false},
        {props: "", correct: false}
      ]
    }
  },
  name: 'Game',
  components: {

  },
  computed:{ 

    allAnswers: function () {
      return this.propositions; 
    }
 
  },
  methods:{ 

      getQuestions() { 
      axios.get(this.url) 
      .then(response => {
        //this.questions = response.data.bpi 
        console.log(response.data);  
        //this.questions = response.data; 
      })
      .catch(error => {
        console.log(error)
        this.errored = true
      })
      .finally(() => this.loading = false)
  }, 

  mounted() { 
    console.log("URL: " + this.url); 
    fetch('https://opentdb.com/api.php?amount=10&category=11&difficulty=medium')
    .then((response) => response.json())
    .then((data) => console.log(data)); 
  }, 
    
    //This function merges the correct- and incorrect quastions together 
    //and mix them with random help! 
    mergeAnswers(question){ 
      let n =0; 
      let k = 1; 

      //console.log("Run"); 

    if(this.next) { 
      //To generate random index between 0 and 3 
      for (let a = [0, 1, 2, 3], i = a.length; i--; ) {
        let random = a.splice(Math.floor(Math.random() * (i + 1)), 1)[0];
        //console.log(random);
        this.quesNr[n] = random; 
        n++; 
      } 
      
      this.answ[this.quesNr[0]] = question.correct_answer; 
      this.theCorrectAnswer = question.correct_answer; 
      //console.log("The correct Answer: " + this.theCorrectAnswer); 

      for(let propNr=0;  propNr < question.incorrect_answers.length; propNr++) { 
        //console.log("Incorrect Aswer:  " + question.incorrect_answers[propNr]); 
        this.answ[this.quesNr[k]] = question.incorrect_answers[propNr]; 
        k++;
      } 

      for(let i=0; i<this.answ.length; i++) {
        this.propositions[i].props = this.answ[i]; 

        if(this.propositions[i].props === this.theCorrectAnswer) {
          this.propositions[i].correct = true; 
        }
        else{
          this.propositions[i].correct = false;
        }
      }
      //console.log("Answer: " + this.propositions[2].props); 
      //console.log("Answ:  " + this.answ); 
      //console.log("Correct:  " + this.propositions[2].correct); 
      this.mounted(); 
    }
    },

    selectResponse(e){ 
      this.correct = true;
      this.next = false;
      if (e.correct) {
        this.score++;
      }

    },

    check(status){
        if (status.correct) {
          return 'correct'
        }else{
          return 'incorrect' 
        }
    },
    nextQuestion(){
      if (this.next) {
        return;
      }
      this.progress = this.progress + (100/this.questions.length);
      if(this.questions.length - 1 == this.a){
        this.score_show = true;
        this.quiz = false;    
      }
      else{
        this.a++;
        this.b++;
        this.correct = false;
        this.next = true;
        
      }
      
    },
    skipQuestion(){
      if (!this.next) {
        return;
      }
      this.progress = this.progress + (100/this.questions.length);

      if(this.questions.length - 1 == this.a){
        this.score_show = true;
        this.quiz = false;
        
        
      }else{
        this.a++;
        this.b++;
        
      }
      
    },
    
    restartQuiz(){
      
      Object.assign(this.$data, this.$options.data()); // reset data in vue
       

    },
    
  }
}
</script> 
