<template>
  <div class="container-categories">
    <div class="container-quiz">
      <div class="header-quiz">
        <h1>Trivia Game</h1>
      </div>

      <div class="box">
        <div class="box-propositions" @click.stop="">
          <ul @click.stop="" style="color: #ffff"> 
            <li 
              v-for="(category, index) in categories" 
              :key="index" class="li" @click.stop="selectCategory(index)">
              <router-link to="/difficulty" exact>{{category}}</router-link>  

            </li> 
          </ul>
        </div> 
      </div>
      <div class="footer-quiz">
    </div>  
    </div> 
  </div>
</template>

<script> 

export default {
  data(){
    return{

    amount: 10,
    categ: '',
    //diff: "", 

    url: `https://opentdb.com/api.php?amount=${this.amount}&category=${this.categ}&difficulty=${this.diff}`, 
      
      categories: [
        "General Knowledge",  
        "Books", 
        "Films",
        "Music"] 
    }
  },
  name: 'Home',
  components: {

  },
  computed:{ 
 
  },
  methods:{ 

    selectCategory(nr){ 
      
      //console.log("Category>>> " + this.categ); 
      switch(nr) {
        case 0: 
        this.categ = '9';  
          break;
        case 1: 
        //console.log("Category>>> " + nr);
        this.categ = '10'; 
        //console.log("Category: " + this.categ);
          break; 
        case 2: 
          this.categ = '11'; 
          break; 
        case 3: 
          this.categ = '12'; 
          break; 
        default: this.categ = '0'; 
      }

    } 
  }

}
</script> 
